.header {
  display: flex;
  border-bottom: 1px solid #a2b2ee;

  background-color: var(--main-bg-color);
}

.connecting-container__burger-title {
}

// mob menu icon
.mobile-menu__icon {
}

.primary-title {
}

.header__contacts {
}
